*.code-workspace
*.iml
*.iws
.checkstyle
.classpath
.DS_Store
.externalToolBuilders/
.history/
.idea/
.project
.settings/
.svn/
.vscode/
/derby.log
/jackrabbit.log_IS_UNDEFINED
/jetty.log_IS_UNDEFINED
bin/
maven-eclipse.xml
target/
site-content/
